<header>
  <%= image_tag 'VGSLogo.jpg' %>
  <nav>
    <ul>
      <li>
        <%= link_to 'Home' , finder_index_path%>
      </li>
      <li>
        <%= link_to 'View Products' ,product_index_path%>
      </li>
      <li>
        <%= link_to 'View Categories' ,category_index_path%>
      </li>
      <li>
        <%= form_tag search_results_path, method: :get do %>
          <%= text_field_tag :main_search %>
          <%= collection_select(:product,:category,Category.all, :id, :name) %>
          <%= submit_tag 'Search' %>
        <% end %>
      </li>
    </ul>
  </nav>
</header>